<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Portfolio</a>
      </li>
    </ul>
  </div>
</div>

<!-- display: flex, justify-content: flex-start-->
<div class="landing-wrapper container mt-3">
  <div class="wrapper-description text-lg-end row-cols-4">
    <div class="">
      <h1 style="">Portfolio</h1>
    </div>
    <div class="text-start">
      <h3 class="text-muted" style="font-size: small">Recent Work</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mt-1">
      <img src="https://wallpaperaccess.com/full/284466.jpg"
           class="w-auto img-thumbnail mx-auto d-block" alt="">
      <h1 class="mt-3" style="color: #0b5ed7">
        Project title
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iste magni molestias nobis quae quidem ratione
        veritatis vitae? Labore, laudantium.
      </p>

      <img src="https://wallpaperaccess.com/full/284466.jpg"
           class="w-auto img-thumbnail mx-auto d-block" alt="">
    </div>
    <div class="col-md-6 mt-1 mb-5">
      <img src="https://wallpaperaccess.com/full/284466.jpg"
           class="w-auto img-thumbnail mx-auto d-block" alt="">
      <h1 class="mt-3" style="color: #0b5ed7">
        Project title
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam at cum dolores, eum id labore
        maxime rerum soluta voluptatem.
      </p>
      <img src="https://wallpaperaccess.com/full/284466.jpg"
           class="w-auto img-thumbnail mx-auto d-block" alt="">
    </div>
  </div>
</div>

