<div class="landing-wrapper container mt-3">
  <div class="description-wrapper row">

    <div class="description-image col-sm-4">
      <img src="https://i.insider.com/5e6765f554f25c5e90397652?width=1136&format=jpeg"
           class="w-auto img-thumbnail mx-auto d-block" alt="">
    </div>

    <div class="description-info col-sm-8">
      <div class="card">
        <div class="description-info-header card-header">
          <p class="h2 mb-0">Elon Musk</p>
          <p class="text-muted">Web developer</p>
        </div>
        <div class="description-info-body card-body">
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur, culpa
            dolor dolores explicabo fugiat impedit, incidunt iure iusto laboriosam maxime modi nesciunt quaerat quisquam
            recusandae reprehenderit saepe tempora veniam.</p>
        </div>

        <div class="card-footer">
          <div class="row text-center" style="font-weight: bold">
            <div class="col-4">OCTOBER</div>
            <div class="col-4">UNITED KINGDOM</div>
            <div class="col-4">ENGLISH</div>
          </div>
          <div class="row text-center text-muted">
            <div class="col-4">Birthday</div>
            <div class="col-4">Country</div>
            <div class="col-4">Language</div>
          </div>
          <div class="description-info-icons">
            <div class="card-footer justify-content-center">
              <div class="row">
                <p class="col-3">icon1</p>
                <p class="col-3">icon1</p>
                <p class="col-3">icon1</p>
                <p class="col-3">icon1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="landing-wrapper container mt-5 mb-5">
    <div class="row text-lg-end">
    <div class="col-4">
      <h3 class="text-muted">
        MY ACTIVITY
      </h3>
    </div>
    <div class="col">
      <div class="row text-lg-start" style="font-weight: bold">
        <div class="col-2">100%</div>
        <div class="col-2">96%</div>
        <div class="col-2">99%</div>
        <div class="col-2">89%</div>
      </div>
      <div class="row text-lg-start text-muted">
        <div class="col-2">JOB ACCESS</div>
        <div class="col-2">ON BUDGET</div>
        <div class="col-2">ON TIME</div>
        <div class="col-3">REPEAT HIRE RATE</div>
      </div>
    </div>
  </div>
</div>
